- content_for :title do
  = @album.name
  = "::"
  = t('videos')

.page-header
  %h1
    = @album.name
  - unless current_user.blank?
    %a{href: new_album_video_path(@album), class: 'btn btn-primary'}
      %i.fa.fa-plus
      = t('upload_video')
  %a{href: album_pictures_path(@album), class: 'btn'}
    %i.fa.fa-camera-retro
    = t('pictures')  
  - unless current_user.blank?      
    .pull-right.hidden-phone
      %a{href: edit_album_path(@album), class: 'btn'}
        %i.fa.fa-wrench
        = t('edit_album_settings')
      %a{href: album_album_members_path(@album), class: 'btn'}
        %i.fa.fa-users
        = t('membership_list')
    .pull-right.hidden-desktop
      .btn-group
        %a.btn.dropdown-toggle{data: {toggle: "dropdown"}}
          %i.fa.fa-wrench
          %span.caret
        %ul.dropdown-menu.pull-right
          %li
            %a{href: edit_album_path(@album)}
              %i.fa.fa-wrench
              = t('edit_album_settings')
          %li
            %a{href: album_album_members_path(@album)}
              %i.fa.fa-users
              = t('membership_list')

.hidden-phone.visible-desktop
  = will_paginate @videos, previous_label: '«', next_label: '»'
.hidden-desktop.visible-phone
  = will_paginate @videos, previous_label: '«', next_label: '»', inner_window: 1, outer_window: 0

.hidden-phone.visible-desktop
  - if @videos.size > 0
    #wrapper
      - @videos.each do |video|
        .picture_thumb
          .picture_inner
            %a{name: video.id}
            %a{href: album_video_path(@album, video)}
              - if !video.encoded?
                = image_tag(video.video_file(:thumb))
              - else
                %img{src: "http://photasti.cc/system/videos_encoded/#{@album.id}/#{video.id}/thumb.jpg"}
            - if video.description.blank?
              %p
                = l video.created_at
            - else
              %p
                = l(video.created_at) + ': '
                = video.description
            .control_area
              .control_elements
                = render partial: 'controls', locals: {video: video}
          = render partial: 'comments', locals: {video: video}
  - else
    %p= t('no_videos_yet')

.visible-phone.hidden-desktop
  - if @videos.size > 0
    .row-fluid
      - @videos.each do |video|
        .span12.img-polaroid.video
          %a{name: video.id}
          %a{href: album_video_path(@album, video)}
	    - if !video.encoded?
              = image_tag(video.video_file(:thumb))
            - else
              %img{src: "http://photasti.cc/system/videos_encoded/#{@album.id}/#{video.id}/thumb.jpg"}
          .picture_inner_phone
            - if video.description.blank?
              %p
                = l video.created_at
            - else
              %p
                = l(video.created_at) + ': '
                = video.description
            = render partial: 'controls', locals: {video: video}
            = render partial: 'comments', locals: {video: video}

        %br/
        .clearfix
  - else
    %p= t('no_pictures_yet')

.hidden-phone.visible-desktop
  = will_paginate @videos, previous_label: '«', next_label: '»'
.hidden-desktop.visible-phone
  = will_paginate @videos, previous_label: '«', next_label: '»', inner_window: 1, outer_window: 0
