.page-header
  %h1= @album.name
  - unless current_user.blank?
    %a{href: new_album_video_path(@album), class: 'btn btn-primary'}
      %i.icon-plus
      = t('upload_video')
    %a{href: edit_album_path(@album), class: 'btn'}
      %i.icon-wrench
      = t('edit_album_settings')
    %a{href: album_members_path(@album), class: 'btn'}
      %i.icon-user
      = t('album_membership')
  %a{href: album_pictures_path(@album), class: 'btn'}
    %i.icon-camera
    = t('pictures')  

= will_paginate @videos, previous_label: t('previous'), next_label: t('next')

- if @videos.size > 0
  #wrapper
    #columns
      - @videos.each do |video|
        .picture
          .picture_inner
            %a{href: "#video_#{video.id}", class: 'inline'} 
              = image_tag(video.video_file(:thumb))
            - if video.description.blank?
              %p
                = l video.created_at
            - else
              %p
                = l(video.created_at) + ': '
                = video.description
            .control_area
              .control_elements
                = render partial: 'controls', locals: {video: video}                
        %div{style: 'display:none'}
          %div{id: "video_#{video.id}"}
            %video{controls: true}
              %source{src: video.video_file(:original), type: video.video_file_content_type}
- else
  %p= t('no_videos_yet')

= will_paginate @videos, previous_label: t('previous'), next_label: t('next')