- content_for :title do
  = @album.name
  = "::"
  = t('new_video')

.container
  %h1= t('new_video')
  %p= t('new_video_explanation')

  %form#upload-dropzone.dropzone{action: "#{album_videos_path(album: @album)}", enctype: 'multipart/form-data', method: 'POST'}
    .fallback
      .row-fluid
        .span12
          %input{type: 'file', name: 'video[video_file]'}
      .row-fluid
        .span12
          %textarea{name: 'video[description]', cols: '50', rows: '5', placeholder: "#{t('video_description')}"}

  %br
  %br
  %button#submit.btn.btn-primary= t('new_videos')

:javascript
  $('#submit').hide();

  Dropzone.autoDiscover = false;
  var dropzone = new Dropzone('#upload-dropzone', {
    paramName: 'video[video_file]',
    acceptedFiles: 'video/*',
    autoProcessQueue: false,
    createImageThumbnails: false,
    parallelUploads: 1,
    dictDefaultMessage: "#{t('upload_videos_here')}",
    headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });
  dropzone.on('queuecomplete', function() {
    window.location.href = "#{album_videos_path(@album)}";
  });
  dropzone.on('addedfile', function() {
    $('#submit').show('fast');
  });
  $('#submit').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'slow');
    dropzone.options.autoProcessQueue = true;
    dropzone.processQueue();
  });
