- content_for :title do
  = @album.name
  = "::"
  = t('album_passcode')


.container
  .alert.alert-error= t('please_enter_passcode_for_album')

  = form_tag(album_passcodes_path(@album), :method => "post") do
    %fieldset
      %input{name: 'passcode', type: 'text', placeholder: t('album_passcode')}
    %fieldset
      %input{name: 'nickname', type: 'text', placeholder: t('your_name')}
    %fieldset
      %button{type: 'submit', class: 'btn btn-primary'}= t('enter')
