- content_for :title do
  = @album.name
  = "::"
  = t('album_passcode')

.alert.alert-error= t('please_enter_passcode_for_album')

= form_tag(album_passcodes_path(@album), :method => "post") do
  %fieldset
    = label_tag(:passcode, t('album_passcode'))
    %input{name: 'passcode', type: 'text'}
    = label_tag(:name, t('your_name'))
    %input{name: 'nickname', type: 'text'}
  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}= t('enter')
