= semantic_form_for @album do |f|
  - if @album.errors.any?
    .alert.alert-error
      %h4= t('save_error')
      = t('make_sure_you_have_a_name')

  = f.inputs do
    = f.input :name, label: t('album_name'), placeholder: t('album_name')
    = f.input :passcode, label: t('album_passcode'), placeholder: t('album_passcode')
    = f.input :subdomain, label: t('album_subdomain'), placeholder: t('album_subdomain'), input_html: {class: 'span4'}, prepend: 'http://', append: '.photasti.cc'
    = f.input :yo_username, label: t('yo_username'), placeholder: t('yo_username')
    = f.input :yo_api_key, label: t('album_yo_api_key'), placeholder: t('album_yo_api_key')
    - if controller.action_name == 'edit'
      = link_to t('back'), album_path(@album), class: 'btn btn-secondary'
    - else
      = link_to t('back'), albums_path, class: 'btn btn-secondary'
    = f.action :submit, label: t('save'), class: 'btn btn-primary'
