- content_for :title do
  = @album.name
  = "::"
  = t('edit_album_settings')

.container
  .row-fluid
    .span12
      %h1= t('edit_album_settings')
  .row-fluid
    .span6
      = render 'form'
    .span6
      .alert-error.well
        .container
          %h4 Danger Zone!
          %p= link_to t('delete_album'), album_path(@album), method: :delete, data: {confirm: t('really_delete_album')}, class: 'btn btn-danger'
      %a{href: album_album_members_path(@album), class: 'btn'}
        %i.fa.fa-users
        = t('membership_list')
