- content_for :title do
  = t('welcome')

.page-header
  %h1= t('welcome')
  %a{href: new_album_path, class: 'btn btn-primary'}
    %i.fa.fa-plus
    = t('new_album')

.container
  .row-fluid
    .span12
      %ul.thumbnails
    - @albums.each do |album|
      %li.span2
        .thumbnail
          = link_to image_tag(album.thumb_picture_url), album_pictures_path(album)
          .name_area
            = link_to album.name, album_pictures_path(album)
          - unless current_user.blank? 
            .btn-group
              %a.btn.dropdown-toggle{data: {toggle: "dropdown"}}
                %i.fa.fa-wrench
                %span.caret
              %ul.dropdown-menu.pull-right
                %li
                  %a{href: edit_album_path(album)}
                    %i.fa.fa-wrench
                    = t('edit_album_settings')
                %li
                  %a{href: album_album_members_path(album)}
                    %i.fa.fa-users
                    = t('membership_list')
