%p.comments
  - if picture.comments.size > 0
    %dl
    - picture.comments.each do |comment|
      %dt= comment.author
      - if can? :manage, @album 
        %dd
          = comment.comment
          %br
          = link_to t('delete_comment'), album_picture_comment_path(album_id: @album.id, picture_id: picture.id, id: comment.id), method: :delete, confirm: t('delete_confirm'), class: 'btn btn-small btn-danger'
      - else
        %dd= comment.comment

  %br

  = semantic_form_for [@album, picture, Comment.new] do |f|
    = f.inputs do
      = f.input :comment, label: t('your_comment')
      = f.action :submit, label: t('save')