= semantic_form_for [@album, @picture], html: { enctype: "multipart/form-data" } do |f|
  - if @picture.errors.any?
    .alert.alert-error
      %h4= t('save_error')
      = t('make_sure_all_required_fields')

  = f.inputs do
    = f.input :picture_file, as: :file
    = f.input :description

  = f.actions do
    = link_to t('back'), album_pictures_path(@album), class: 'btn btn-secondary'
    = f.action :submit, :label => t('save')