.page-header
  %h1= @album.name
  - unless current_user.blank?
    %a{href: new_album_picture_path(@album), class: 'btn btn-primary'}
      %i.icon-plus
      = t('upload_picture')
    %a{href: edit_album_path(@album), class: 'btn'}
      %i.icon-wrench
      = t('edit_album_settings')
    %a{href: album_members_path(@album), class: 'btn'}
      %i.icon-user
      = t('album_membership')
  %a{href: album_videos_path(@album), class: 'btn'}
    %i.icon-film
    = t('videos')

= will_paginate @pictures, previous_label: t('previous'), next_label: t('next')

.hidden-phone.visible-desktop
  - if @pictures.size > 0
    #wrapper
      #columns
        - @pictures.each do |picture|
          %a{name: picture.id}
          .picture
            .picture_inner
              = link_to image_tag(picture.picture_file(:medium), width: picture.image_width_medium, height: picture.image_height_medium), picture.picture_file.url(:large), class: 'fancyboxgroup', rel: @album.id.to_s
              - if picture.description.blank?
                %p
                  = l picture.date_time
              - else
                %p
                  = l(picture.date_time) + ': '
                  = picture.description
              .control_area
                .control_elements
                  = render partial: 'controls', locals: {picture: picture}
            = render partial: 'comments', locals: {picture: picture}
  - else
    %p= t('no_pictures_yet')

.visible-phone.hidden-desktop
  - if @pictures.size > 0
    .row-fluid
      - @pictures.each do |picture|
        .span12.img-polaroid.picture
          = image_tag picture.picture_file(:large), width: picture.image_width_large, height: picture.image_height_large
          - if picture.description.blank?
            %p
              = l picture.date_time
              = picture.latitude_longitude unless picture.latitude_longitude.nil?
          - else
            %p
              = l(picture.date_time) + ': '
              = picture.description
              = picture.latitude_longitude unless picture.latitude_longitude.nil?
          = render partial: 'controls', locals: {picture: picture}
          = render partial: 'comments', locals: {picture: picture}
          
        %br/
        .clearfix
  - else
    %p= t('no_pictures_yet')  

= will_paginate @pictures, previous_label: t('previous'), next_label: t('next')

:javascript
  $("img").lazyload({
    effect: "fadeIn"
  });    

