.page-header
  %h1= @album.name
  - unless current_user.blank?
    %a{href: new_album_picture_path(@album), class: 'btn btn-primary'}
      %i.icon-plus
      = t('upload_picture')
    %a{href: edit_album_path(@album), class: 'btn'}
      %i.icon-edit
      = t('edit_album_settings')
    %a{href: album_members_path(@album), class: 'btn'}
      %i.icon-user
      = t('album_membership')

.hidden-phone.visible-desktop
  - if @pictures.size > 0
    #wrapper
      #columns
        - @pictures.each do |picture|
          .picture
            = link_to image_tag(picture.picture_file(:medium)), picture.picture_file.url(:large), class: 'fancyboxgroup', rel: @album.id.to_s
            - unless picture.description.blank?
              %p= picture.description
            - unless current_user.blank?
              .control_area
                .control_elements
                  - if picture == @album.picture
                    %i.icon-star
                  - else
                    = link_to '', promote_album_path(@album, :picture_id => picture.id), method: :post, class: 'icon-star-empty'
                  = link_to '', album_picture_path(@album, picture), class: 'icon-download'
                  = link_to '', album_picture_path(@album, picture), method: :delete, confirm: t('delete_confirm'), class: 'icon-remove'
  - else
    %p= t('no_pictures_yet')

.visible-phone.hidden-desktop
  - if @pictures.size > 0
    .row-fluid
      - @pictures.each do |picture|
        .span12.img-polaroid
          = image_tag picture.picture_file(:large)
          - unless picture.description.blank?
            %p= picture.description
          - unless current_user.blank?
            - if picture == @album.picture
              %i.icon-star
            - else
              = link_to '', promote_album_path(@album, :picture_id => picture.id), method: :post, class: 'icon-star-empty'
            = link_to '', album_picture_path(@album, picture), class: 'icon-download'  
            = link_to '', album_picture_path(@album, picture), method: :delete, confirm: t('delete_confirm'), class: 'icon-remove'
        %br/
        .clearfix
  - else
    %p= t('no_pictures_yet')  

