.page-header
  %h1= @album.name
  - unless current_user.blank?
    %a{href: new_album_picture_path(@album), class: 'btn btn-primary'}
      %i.icon-plus
      = t('upload_picture')
    %a{href: edit_album_path(@album), class: 'btn'}
      %i.icon-wrench
      = t('edit_album_settings')
    %a{href: album_members_path(@album), class: 'btn'}
      %i.icon-user
      = t('album_membership')

.row-fluid
  .span12
    - if @pictures.size > 0
      .pictures
        - @pictures.each do |picture|
          .picture
            = link_to image_tag(picture.picture_file(:medium), width: picture.image_width_medium, height: picture.image_height_medium), picture.picture_file.url(:large), class: 'fancyboxgroup', rel: @album.id.to_s
            %p
              .pull-left= "#{t('comments')}: #{picture.comments.size}"
              .pull-right= render :partial => 'controls', :locals => {:picture => picture}
    - else
      %p= t('no_pictures_yet') 