- content_for :title do
  = @album.name
  = "::"
  = t('new_picture')

.container
  %h1= t('new_picture')
  %p= t('new_picture_explanation')


  %form#upload-dropzone.dropzone{action: "#{album_pictures_path(@album)}", enctype: 'multipart/form-data', method: 'POST'}
    %div.fallback
      .row-fluid
        .span12
          %input{type: 'file', name: 'picture[picture_file]'}
      .row-fluid
        .span12
          %textarea{name: 'picture[description]', cols: '50', rows: '5', placeholder: "#{t('picture_description')}"}

  #descriptionArea

  %br
  %br
  %button#submit.btn.btn-primary= t('new_pictures')

:javascript

  $('#submit').hide();

  Dropzone.autoDiscover = false;
  var dropzone = new Dropzone('#upload-dropzone', {
    paramName: 'picture[picture_file]',
    acceptedFiles: 'image/jpeg',
    autoProcessQueue: false,
    thumbnailWidth: 150,
    thumbnailHeight: 150,
    parallelUploads: 1,
    dictDefaultMessage: "#{t('upload_pictures_here')}",
    headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });
  dropzone.on('queuecomplete', function() {
    window.location.href = "#{album_pictures_path(@album)}";
  });
  dropzone.on('sending', function(file, xhr, formData) {
    $('.dropzone').show('fast');
    $('#descriptionArea').hide('fast');
    $('#submit').hide('fast');
    var description_area = $('#descriptionArea').find("[data-filename='" + file.name + "']");
    formData.append('picture[description]', description_area.val())
  });
  dropzone.on('thumbnail', function(file, dataUrl) {
    $('.dropzone').hide('fast');
    var row = $('<div>').prop('class','row');

    var preview_image = $('<img>').prop('src', dataUrl);

    var preview_area = $('<div>').prop('class','span2').append(preview_image);

    var textarea = $('<textarea>').prop('rows', 5).prop('cols', 30).attr('data-filename', file.name);
    var description_area = $('<div>').prop('class','span10').append(textarea);

    var complete_row = row.append(preview_area).append(description_area);

    $('#descriptionArea').append(complete_row);
  });
  dropzone.on('addedfile', function() {
    $('#submit').show('fast');
  });
  $('#submit').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'slow');
    dropzone.options.autoProcessQueue = true;
    dropzone.processQueue();
  });
