!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title= content_for?(:title) ? yield(:title) : "Photastic"
          = analytics_init if Rails.env.production?
          = csrf_meta_tags
          = javascript_include_tag "application"
          = stylesheet_link_tag "application", :media => "all"
          %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}
  %body
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          %a.brand{:href => new_user_session_path}
            %strong PHOTASTIC
    .container-fluid
      .row-fluid
        .span10.offset1
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name == 'notice' ? "success" : "danger"}"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          = yield
    %footer#footer
      .container
        .row
          .span12
            \&copy #{DateTime.now.year} Photasti.cc
